$line-open-time: 500ms;

$dot-open-delay: 0;
$dot-open-time: 600ms;

$info-box-open-delay: 200ms;
$info-box-open-time: 500ms;

.node {
  display: flex;
  width: 500px; 
  justify-content: center;
  position: relative;
}

.infoBox { 
  position: absolute;
  left: 0;
  transition-delay: $info-box-open-delay;
  transition-property: opacity;
  transition-duration: $info-box-open-time; 
}

.infoBox--hide {
  opacity: 0;
}

.infoBox--show {
  opacity: 1;
}

.timeline {
  display: inline-flex; 
  flex-direction: column; 
}

.line {
  width: 10px;
  background-color: black;
  align-self: center;
  transition: height $line-open-time ease-in-out;
}

.line--closed {
  height: 0em;
}

.line--open {
  height: 2em;
}

.dot { 
  background-color: red;
  border-radius: 100%;
  transition-property: width, height;
  transition-delay: $dot-open-delay;
  transition-duration: $dot-open-time; 
}

.dot--hide {
  width: 0em;
  height: 0em;
}

.dot--show {
  height: 1.5em;
  width: 1.5em;
}