.node {
  display: flex;
  width: 500px;
  background-color: pink;
  justify-content: center;
  position: relative;
}

.infoBox {
  border: 2px solid red;
  position: absolute;
  left: 0;
  transition-delay: 1s;
  transition-property: opacity;
  transition-duration: 0.5s; 
}

.infoBox--hide {
  opacity: 0;
}

.infoBox--show {
  opacity: 1;
}

.timeline {
  display: inline-flex; 
  flex-direction: column;
  border: 2px solid green;
}

.line {
  width: 10px;
  background-color: black;
  align-self: center;
  transition: height 0.5s;
}

.line--closed {
  height: 0em;
}

.line--open {
  height: 2em;
}

.dot { 
  background-color: red;
  border-radius: 100%;
  transition: width 0.5s, height 0.5s;
}

.dot--hide {
  width: 0em;
  height: 0em;
}

.dot--show {
  height: 1.5em;
  width: 1.5em;
}