@import '../../../styles/sizes.scss';

.timeline__container { 
  width: 100vw; 
  display: flex; 
  flex-direction: column;
  align-items: start; 
} 

.timeline__title {
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 2.5em 0;
}

.timeline__content-wrapper {  
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  /* ************************************ */
  height: 300vh; 
}

.timeline__line-wrapper {
  width: $line-container-width; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  display: flex;
  justify-content: center; 
}

.timeline__line {
  width: 6px;
  background-color: #737887;;
  position: absolute;
  transition: height 700ms;
  border-radius: 6px;
}

.timeline__line--closed { 
  height: 0;
}

.timeline__line--open {
  height: 100%; 
}

.timeline__sections-wrapper {
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0; 
}

// Bigger than mobile
@media screen and (min-width: $timeline-width) {  
  .timeline__container {
    align-items: center;
  }

  .timeline__line-wrapper {
    width: 100%;
  }
}



// $line-wrapper-width: 2em;





// .timeline__inner {  
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   position: relative;
// }

// .timeline__line-wrapper {
//   width: 100%; 
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0; 
//   display: flex;
//   justify-content: center;
// }

// .timeline__line {
//   width: 6px;
//   background-color: #737887;;
//   position: absolute;
//   transition: height 700ms;
//   border-radius: 6px;
// }

// .timeline__line--closed { 
//   height: 0;
// }

// .timeline__line--open {
//   height: 100%; 
// }

// .timeline__sections-wrapper {
//   width: auto;
//   height: 100%; 
// }

// @media screen and (max-width: $timeline-width) {  
//   .timeline__container {
//     align-items: start;
//   }

//   // .timeline__line-wrapper {
//   //   position: relative;
//   //   width: $line-wrapper-width; 
//   // }

//   .timeline__sections-wrapper {
//     width: 100%; 
//     position: absolute;
//     left: 0;
//     padding-left: $line-wrapper-width;
//   }
// }