@import './sizes.scss';
@import './transitions.scss';
@import './colors.scss';
 
// === Timeline Section
.timeline-section {
  display: grid;
  max-width: $section-width;
  grid-template-columns: $line-container-width auto; 
  margin-bottom: 1em;
}

.timeline-section--last {
  margin-bottom: 0;
}

// === InfoBox
.timeline-section__info-box {
  transition-delay: $info-box-open-delay;
  transition-property: opacity;
  transition-duration: $info-box-open-time;
  box-sizing: border-box;
  padding: 0.75em;
  width: $info-box-width;
  border: 1px solid $info-box-border-color;
  border-radius: 8px;
  box-shadow: 0px 0px 25px 7px $info-box-box-shadow-color;
}

.timeline-section__info-box * { 
  margin: 0;
  margin-bottom: 0.3em;
  font-family: sans-serif;
  font-size: 0.95em;
}

.timeline-section__info-box h4 {
  font-weight: 600;
}

.timeline-section__info-box p {
  font-weight: 100;  
  line-height: 19px;
}

.timeline-section__info-box--hide {
  opacity: 0;
}

.timeline-section__info-box--show {
  opacity: 1;
}

// === Dot
.timeline-section__dot-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 4em;  
}

.timeline-section__dot {  
  background-color: $dot-color;
  border-radius: 100%;
  transition-property: width, height;
  transition-delay: $dot-open-delay;
  transition-duration: $dot-open-time; 
}

.timeline-section__dot--hide {
  width: 0em;
  height: 0em;
}

.timeline-section__dot--show {
  height: $dot-size;
  width: $dot-size;
}

@media screen and (min-width: $timeline-width) {  
  .timeline-section {
    grid-template-columns: $info-box-width $line-container-width $info-box-width; 
    margin: auto;
  }

  .timeline-section__dot-container {
    grid-column-start: 2;
  }

  .timeline-section__info-box--left {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  .timeline-section__info-box--right {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}